USE [DQS_STAGING_DATA]
GO
/****** Object:  StoredProcedure [WD].[trHRDC011_AssignEmployeeToPayGroup_Ins]    Script Date: 9/07/2020 2:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [WD].[trHRDC011_AssignEmployeeToPayGroup_Ins]
AS
begin
insert into [wd].[HRDC011_AssignEmployeeToPayGroup]
select * from [WD].[trHRDC011_AssignEmployeeToPayGroup_InsSel]
END
GO
