USE [DQS_STAGING_DATA]
GO
/****** Object:  StoredProcedure [WD].[WorkShiftTmp3_Upd]    Script Date: 9/07/2020 2:20:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure[WD].[WorkShiftTmp3_Upd]
as
update [WD].[WORKSHIFT_TMP]
set WS_ID= a.WS_ID
from [AUR].[WorkShift_Mappings] a,[WD].[WORKSHIFT_TMP] b
where    isnull([W1_MON],'X')=isnull(WK1_MON,'X')
     and isnull([W1_TUE],'X')=isnull(WK1_TUE,'X')
     and isnull([W1_WED],'X')=isnull(WK1_WED,'X')
     and isnull([W1_THU],'X')=isnull(WK1_THU,'X')
     and isnull([W1_FRI],'X')=isnull(WK1_FRI,'X')
     and isnull([W1_SAT],'X')=isnull(WK1_SAT,'X')
     and isnull([W1_SUN],'X')=isnull(WK1_SUN,'X')
     and isnull([W2_MON],'X')=isnull(WK2_MON,'X')
     and isnull([W2_TUE],'X')=isnull(WK2_TUE,'X')
     and isnull([W2_WED],'X')=isnull(WK2_WED,'X')
     and isnull([W2_THU],'X')=isnull(WK2_THU,'X')
     and isnull([W2_FRI],'X')=isnull(WK2_FRI,'X')
     and isnull([W2_SAT],'X')=isnull(WK2_SAT,'X')
     and isnull([W2_SUN],'X')=isnull(WK2_SUN,'X')
     and isnull([W3_MON],'X')=isnull(WK3_MON,'X')
     and isnull([W3_TUE],'X')=isnull(WK3_TUE,'X')
     and isnull([W3_WED],'X')=isnull(WK3_WED,'X')
     and isnull([W3_THU],'X')=isnull(WK3_THU,'X')
     and isnull([W3_FRI],'X')=isnull(WK3_FRI,'X')
     and isnull([W3_SAT],'X')=isnull(WK3_SAT,'X')
     and isnull([W3_SUN],'X')=isnull(WK3_SUN,'X')
     --and isnull([W4_MON],'X')=isnull(WK4_MON,'X')
     --and isnull([W4_TUE],'X')=isnull(WK4_TUE,'X')
     --and isnull([W4_WED],'X')=isnull(WK4_WED,'X')
     --and isnull([W4_THU],'X')=isnull(WK4_THU,'X')
     --and isnull([W4_FRI],'X')=isnull(WK4_FRI,'X')
     --and isnull([W4_SAT],'X')=isnull(WK4_SAT,'X')
     --and isnull([W4_SUN],'X')=isnull(WK4_SUN,'X')
     --and isnull([W5_MON],'X')=isnull(WK5_MON,'X')
     --and isnull([W5_TUE],'X')=isnull(WK5_TUE,'X')
     --and isnull([W5_WED],'X')=isnull(WK5_WED,'X')
     --and isnull([W5_THU],'X')=isnull(WK5_THU,'X')
     --and isnull([W5_FRI],'X')=isnull(WK5_FRI,'X')
     --and isnull([W5_SAT],'X')=isnull(WK5_SAT,'X')
     --and isnull([W5_SUN],'X')=isnull(WK5_SUN,'X')
     --and isnull([W6_MON],'X')=isnull(WK6_MON,'X')
     --and isnull([W6_TUE],'X')=isnull(WK6_TUE,'X')
     --and isnull([W6_WED],'X')=isnull(WK6_WED,'X')
     --and isnull([W6_THU],'X')=isnull(WK6_THU,'X')
     --and isnull([W6_FRI],'X')=isnull(WK6_FRI,'X')
     --and isnull([W6_SAT],'X')=isnull(WK6_SAT,'X')
     --and isnull([W6_SUN],'X')=isnull(WK6_SUN,'X')
     --and isnull([W7_MON],'X')=isnull(WK7_MON,'X')
     --and isnull([W7_TUE],'X')=isnull(WK7_TUE,'X')
     --and isnull([W7_WED],'X')=isnull(WK7_WED,'X')
     --and isnull([W7_THU],'X')=isnull(WK7_THU,'X')
     --and isnull([W7_FRI],'X')=isnull(WK7_FRI,'X')
     --and isnull([W7_SAT],'X')=isnull(WK7_SAT,'X')
     --and isnull([W7_SUN],'X')=isnull(WK7_SUN,'X')
     --and isnull([W8_MON],'X')=isnull(WK8_MON,'X')
     --and isnull([W8_TUE],'X')=isnull(WK8_TUE,'X')
     --and isnull([W8_WED],'X')=isnull(WK8_WED,'X')
     --and isnull([W8_THU],'X')=isnull(WK8_THU,'X')
     --and isnull([W8_FRI],'X')=isnull(WK8_FRI,'X')
     --and isnull([W8_SAT],'X')=isnull(WK8_SAT,'X')
     --and isnull([W8_SUN],'X')=isnull(WK8_SUN,'X')
     --and isnull([W9_MON],'X')=isnull(WK9_MON,'X')
     --and isnull([W9_TUE],'X')=isnull(WK9_TUE,'X')
     --and isnull([W9_WED],'X')=isnull(WK9_WED,'X')
     --and isnull([W9_THU],'X')=isnull(WK9_THU,'X')
     --and isnull([W9_FRI],'X')=isnull(WK9_FRI,'X')
     --and isnull([W9_SAT],'X')=isnull(WK9_SAT,'X')
     --and isnull([W9_SUN],'X')=isnull(WK9_SUN,'X') 
	 and left(a.name,1)=b.WorkShift and b.WorkShift=3
GO
