USE [DQS_STAGING_DATA]
GO
/****** Object:  View [PBI].[InvalidVisaCountryIsoCode]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [PBI].[InvalidVisaCountryIsoCode] as

select distinct [T020F005_WAMI_KEY]
		,[T001F005_EMPLOYEE_NO]
		,[T020F035_COUNTRY_CODE]
		,[T900F025_CODE_GROUP]


		from aur.T020_PASSPORT_VISAS

				inner join aur.T000_WAMI on T000F005_WAMI_KEY = T020F005_WAMI_KEY

				inner join aur.T001_BASIC_DETAILS on  T000F005_WAMI_KEY = T001F010_WAMI_KEY
				INNER JOIN aur.t206_classification ON t206f005_classification_code=t001f085_actual_classification
				INNER JOIN aur.t900_codes ON t206f035_class_group_code=t900f010_code AND t206f030_cg=t900f005_code_type
				inner join wd.EmpScope on WAMIKey = T000F005_WAMI_KEY

				where [T020F035_COUNTRY_CODE] not in ('AF' ,
'AL' ,
'DZ' ,
'AS' ,
'AD' ,
'AO' ,
'AI' ,
'AQ' ,
'AG' ,
'AR' ,
'AM' ,
'AW' ,
'AU' ,
'AT' ,
'AZ' ,
'BS' ,
'BH' ,
'BD' ,
'BB' ,
'BY' ,
'BE' ,
'BZ' ,
'BJ' ,
'BM' ,
'BT' ,
'BO' ,
'BQ' ,
'BA' ,
'BW' ,
'BV' ,
'BR' ,
'IO' ,
'BN' ,
'BG' ,
'BF' ,
'BI' ,
'CV' ,
'KH' ,
'CM' ,
'CA' ,
'KY' ,
'CF' ,
'TD' ,
'CL' ,
'CN' ,
'CX' ,
'CC' ,
'CO' ,
'KM' ,
'CD' ,
'CG' ,
'CK' ,
'CR' ,
'HR' ,
'CU' ,
'CW' ,
'CY' ,
'CZ' ,
'CI' ,
'DK' ,
'DJ' ,
'DM' ,
'DO' ,
'EC' ,
'EG' ,
'SV' ,
'GQ' ,
'ER' ,
'EE' ,
'SZ' ,
'ET' ,
'FK' ,
'FO' ,
'FJ' ,
'FI' ,
'FR' ,
'GF' ,
'PF' ,
'TF' ,
'GA' ,
'GM' ,
'GE' ,
'DE' ,
'GH' ,
'GI' ,
'GR' ,
'GL' ,
'GD' ,
'GP' ,
'GU' ,
'GT' ,
'GG' ,
'GN' ,
'GW' ,
'GY' ,
'HT' ,
'HM' ,
'VA' ,
'HN' ,
'HK' ,
'HU' ,
'IS' ,
'IN' ,
'ID' ,
'IR' ,
'IQ' ,
'IE' ,
'IM' ,
'IL' ,
'IT' ,
'JM' ,
'JP' ,
'JE' ,
'JO' ,
'KZ' ,
'KE' ,
'KI' ,
'KP' ,
'KR' ,
'KW' ,
'KG' ,
'LA' ,
'LV' ,
'LB' ,
'LS' ,
'LR' ,
'LY' ,
'LI' ,
'LT' ,
'LU' ,
'MO' ,
'MG' ,
'MW' ,
'MY' ,
'MV' ,
'ML' ,
'MT' ,
'MH' ,
'MQ' ,
'MR' ,
'MU' ,
'YT' ,
'MX' ,
'FM' ,
'MD' ,
'MC' ,
'MN' ,
'ME' ,
'MS' ,
'MA' ,
'MZ' ,
'MM' ,
'NA' ,
'NR' ,
'NP' ,
'NL' ,
'NC' ,
'NZ' ,
'NI' ,
'NE' ,
'NG' ,
'NU' ,
'NF' ,
'MP' ,
'NO' ,
'OM' ,
'PK' ,
'PW' ,
'PS' ,
'PA' ,
'PG' ,
'PY' ,
'PE' ,
'PH' ,
'PN' ,
'PL' ,
'PT' ,
'PR' ,
'QA' ,
'MK' ,
'RO' ,
'RU' ,
'RW' ,
'RE' ,
'BL' ,
'SH' ,
'KN' ,
'LC' ,
'MF' ,
'PM' ,
'VC' ,
'WS' ,
'SM' ,
'ST' ,
'SA' ,
'SN' ,
'RS' ,
'SC' ,
'SL' ,
'SG' ,
'SX' ,
'SK' ,
'SI' ,
'SB' ,
'SO' ,
'ZA' ,
'GS' ,
'SS' ,
'ES' ,
'LK' ,
'SD' ,
'SR' ,
'SJ' ,
'SE' ,
'CH' ,
'SY' ,
'TW' ,
'TJ' ,
'TZ' ,
'TH' ,
'TL' ,
'TG' ,
'TK' ,
'TO' ,
'TT' ,
'TN' ,
'TR' ,
'TM' ,
'TC' ,
'TV' ,
'UG' ,
'UA' ,
'AE' ,
'GB' ,
'UM' ,
'US' ,
'UY' ,
'UZ' ,
'VU' ,
'VE' ,
'VN' ,
'VG' ,
'VI' ,
'WF' ,
'EH' ,
'YE' ,
'ZM' ,
'ZW' ,
'AX' ,
'AFG' ,
'ALB' ,
'DZA' ,
'ASM' ,
'AND' ,
'AGO' ,
'AIA' ,
'ATA' ,
'ATG' ,
'ARG' ,
'ARM' ,
'ABW' ,
'AUS' ,
'AUT' ,
'AZE' ,
'BHS' ,
'BHR' ,
'BGD' ,
'BRB' ,
'BLR' ,
'BEL' ,
'BLZ' ,
'BEN' ,
'BMU' ,
'BTN' ,
'BOL' ,
'BES' ,
'BIH' ,
'BWA' ,
'BVT' ,
'BRA' ,
'IOT' ,
'BRN' ,
'BGR' ,
'BFA' ,
'BDI' ,
'CPV' ,
'KHM' ,
'CMR' ,
'CAN' ,
'CYM' ,
'CAF' ,
'TCD' ,
'CHL' ,
'CHN' ,
'CXR' ,
'CCK' ,
'COL' ,
'COM' ,
'COD' ,
'COG' ,
'COK' ,
'CRI' ,
'HRV' ,
'CUB' ,
'CUW' ,
'CYP' ,
'CZE' ,
'CIV' ,
'DNK' ,
'DJI' ,
'DMA' ,
'DOM' ,
'ECU' ,
'EGY' ,
'SLV' ,
'GNQ' ,
'ERI' ,
'EST' ,
'SWZ' ,
'ETH' ,
'FLK' ,
'FRO' ,
'FJI' ,
'FIN' ,
'FRA' ,
'GUF' ,
'PYF' ,
'ATF' ,
'GAB' ,
'GMB' ,
'GEO' ,
'DEU' ,
'GHA' ,
'GIB' ,
'GRC' ,
'GRL' ,
'GRD' ,
'GLP' ,
'GUM' ,
'GTM' ,
'GGY' ,
'GIN' ,
'GNB' ,
'GUY' ,
'HTI' ,
'HMD' ,
'VAT' ,
'HND' ,
'HKG' ,
'HUN' ,
'ISL' ,
'IND' ,
'IDN' ,
'IRN' ,
'IRQ' ,
'IRL' ,
'IMN' ,
'ISR' ,
'ITA' ,
'JAM' ,
'JPN' ,
'JEY' ,
'JOR' ,
'KAZ' ,
'KEN' ,
'KIR' ,
'PRK' ,
'KOR' ,
'KWT' ,
'KGZ' ,
'LAO' ,
'LVA' ,
'LBN' ,
'LSO' ,
'LBR' ,
'LBY' ,
'LIE' ,
'LTU' ,
'LUX' ,
'MAC' ,
'MDG' ,
'MWI' ,
'MYS' ,
'MDV' ,
'MLI' ,
'MLT' ,
'MHL' ,
'MTQ' ,
'MRT' ,
'MUS' ,
'MYT' ,
'MEX' ,
'FSM' ,
'MDA' ,
'MCO' ,
'MNG' ,
'MNE' ,
'MSR' ,
'MAR' ,
'MOZ' ,
'MMR' ,
'NAM' ,
'NRU' ,
'NPL' ,
'NLD' ,
'NCL' ,
'NZL' ,
'NIC' ,
'NER' ,
'NGA' ,
'NIU' ,
'NFK' ,
'MNP' ,
'NOR' ,
'OMN' ,
'PAK' ,
'PLW' ,
'PSE' ,
'PAN' ,
'PNG' ,
'PRY' ,
'PER' ,
'PHL' ,
'PCN' ,
'POL' ,
'PRT' ,
'PRI' ,
'QAT' ,
'MKD' ,
'ROU' ,
'RUS' ,
'RWA' ,
'REU' ,
'BLM' ,
'SHN' ,
'KNA' ,
'LCA' ,
'MAF' ,
'SPM' ,
'VCT' ,
'WSM' ,
'SMR' ,
'STP' ,
'SAU' ,
'SEN' ,
'SRB' ,
'SYC' ,
'SLE' ,
'SGP' ,
'SXM' ,
'SVK' ,
'SVN' ,
'SLB' ,
'SOM' ,
'ZAF' ,
'SGS' ,
'SSD' ,
'ESP' ,
'LKA' ,
'SDN' ,
'SUR' ,
'SJM' ,
'SWE' ,
'CHE' ,
'SYR' ,
'TWN' ,
'TJK' ,
'TZA' ,
'THA' ,
'TLS' ,
'TGO' ,
'TKL' ,
'TON' ,
'TTO' ,
'TUN' ,
'TUR' ,
'TKM' ,
'TCA' ,
'TUV' ,
'UGA' ,
'UKR' ,
'ARE' ,
'GBR' ,
'UMI' ,
'USA' ,
'URY' ,
'UZB' ,
'VUT' ,
'VEN' ,
'VNM' ,
'VGB' ,
'VIR' ,
'WLF' ,
'ESH' ,
'YEM' ,
'ZMB' ,
'ZWE' ,
'ALA')
GO
