USE [DQS_STAGING_DATA]
GO
/****** Object:  View [PBI].[A_MasterLTable]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
ALTER view [PBI].[A_MasterLTable] as 

SELECT '' AS [Index]
      ,'' AS [TableName]
      ,'' AS [RecordCount]
      ,'' AS [Description]
      ,'' AS [LatestRefreshTime]
GO
