USE [DQS_STAGING_DATA]
GO
/****** Object:  View [PBI].[OrgUnitNoPositions]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
ALTER view [PBI].[OrgUnitNoPositions] as

SELECT 

	[T106F005_ORGANISATION_UNIT_NO]

      ,[T106F010_ORG_UNIT_STATUS]

      ,[T106F020_ORGANISATION_UNIT_LVL]

      ,[T106F030_ORGANISATION_UNIT]

	  ,T101F045_POSITION_TITLE
	  ,T101F005_POSITION_NO
     
  FROM [DQS_STAGING_DATA].[AUR].[T106_ORGANISATION_UNITS]

  full outer join [AUR].[T101_POSITION] on T106F005_ORGANISATION_UNIT_NO = T101F015_ORGANISATION_UNIT_NO

  where T106F010_ORG_UNIT_STATUS = 'active'  and 
  
 T101F005_POSITION_NO is null

  group by [T106F005_ORGANISATION_UNIT_NO] 
  ,[T106F010_ORG_UNIT_STATUS]

      ,[T106F020_ORGANISATION_UNIT_LVL]

      ,[T106F030_ORGANISATION_UNIT]

	  ,T101F045_POSITION_TITLE
	  ,T101F005_POSITION_NO


GO
