USE [DQS_STAGING_DATA]
GO
/****** Object:  View [PBI].[PositionSharing]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







ALTER view [PBI].[PositionSharing] as

SELECT distinct
t101.T101F005_POSITION_NO 
, t101.T101F045_POSITION_TITLE
,[T101F080_POSITION_TYPE]
,T900F025_CODE_GROUP
,T001F355_AWARD_CODE
,count([PositionID]) as 'count_position_ID'



from AUr.T101_POSITION t101
inner join aur.T001_BASIC_DETAILS t001 on t001.T001F065_ACTUAL_POSITION_NO = t101.T101F005_POSITION_NO
inner join aur.T000_WAMI t000 on t000.T000F005_WAMI_KEY = t001.T001F010_WAMI_KEY
inner join aur.T106_ORGANISATION_UNITS t106 on t106.T106F005_ORGANISATION_UNIT_NO = t101.T101F015_ORGANISATION_UNIT_NO
inner join wd.EmpScope on t000.T000F005_WAMI_KEY = WAMIKey
INNER JOIN aur.t206_classification ON t206f005_classification_code=t001f085_actual_classification
INNER JOIN aur.t900_codes ON t206f035_class_group_code=t900f010_code AND t206f030_cg=t900f005_code_type

 group by t101.T101F005_POSITION_NO 
	,t101.T101F045_POSITION_TITLE 
	,[T101F080_POSITION_TYPE]
     ,[T900F025_CODE_GROUP]
	 ,T001F355_AWARD_CODE

having count([PositionID]) >1

GO
