USE [DQS_STAGING_DATA]
GO
/****** Object:  View [PBI].[CurrentValidLocations]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER view [PBI].[CurrentValidLocations] as SELECT distinct T001F135_ACTUAL_LOCATION_CODE, T900F015_SHORT_DESCRIPTION  FROM [DQS_STAGING_DATA].[AUR].[T001_BASIC_DETAILS]  inner join [AUR].[T900_CODES] on T001F135_ACTUAL_LOCATION_CODE = T900F010_CODE  where T001F015_EMPLOYEE_STATUS = 'active'
GO
