USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svT020_PASSPORTVISASActive_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[svT020_PASSPORTVISASActive_Sel]
AS
SELECT  [T020F005_WAMI_KEY]
      ,[T020F010_TRANS_NO]
      ,[T020F055_TRANS_NO]
      ,[U_VERSION]
      ,[T020F030_CO]
      ,[T020F035_COUNTRY_CODE]
      ,[T020F040_DATE_GRANTED]
      ,[T020F045_DATE_OF_EXPIRY]
      ,[T020F050_VISA_TYPE]
      ,[T020F055_VISA_IDENTIFIER]
  FROM [DQS_STAGING_DATA].[AUR].[T020_PASSPORT_VISAS]
  where T020F045_DATE_OF_EXPIRY >= getdate()
GO
