USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svT532_STANDING_ARRANGEMENTActive_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[svT532_STANDING_ARRANGEMENTActive_Sel]
AS
SELECT    distinct    T532F005_EMPLOYEE_NO, T532F007_SEQUENCE_NO, U_VERSION, T532F010_TRANS_NO, T532F015_DATE_FROM, T532F020_DATE_TO, T532F035_CONNECT_DATE_TO, T532F040_TRANSACTION_TYPE, 
                         T532F045_ALLOW_DEDN_CODE, T532F050_ARRANGEMENT_TYPE, T532F055_R1, T532F060_REASON_FROM, T532F065_R2, T532F070_REASON_TO, T532F085_CC, T532F090_CREDITOR_CODE, T532F095_IF, 
                         T532F100_INTERFACE_TYPE_CODE, T532F105_PRIORITY, T532F110_UNITS, T532F115_RATE, T532F120_AMOUNT, T532F125_AMOUNT_OVERRIDDEN, T532F130_RANGE_UNITS, T532F135_RANGE_AMOUNT, 
                         T532F140_PAYE_TAX_CATEGORY, T532F145_GROUP_CERT_CATEGORY, T532F150_PAYROLL_TAX_CATEGORY, T532F155_PAYMENT_METHOD, T532F160_BSB_NUMBER, T532F165_BANK_ACCOUNT, 
                         T532F170_CHEQUE_NAME, T532F175_CHEQUE_ADDRESS, T532F180_REFERENCE, T532F185_COSTING_CODE, T532F190_INDICATOR_FROM, T532F195_INDICATOR_TO, T532F200_HOLD_AMOUNT, 
                         T532F205_PERCENT_BASED, T532F210_INCLUDE_CODE_TYPE, T532F215_PERCENT, T532F220_MAXIMUM_AMOUNT, T532F225_MINIMUM_AMOUNT, T532F980_CREATE_DATE_TIME, T532F985_CREATE_USER_STAMP, 
                         T532F990_MODIFY_DATE_TIME, T532F995_MODIFY_USER_STAMP
FROM            AUR.T532_STANDING_ARRANGEMENT
WHERE        (T532F020_DATE_TO >= GETDATE()) AND (T532F015_DATE_FROM <= GETDATE()) and T532F215_PERCENT is not null


GO
