USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svT001_TerminatedEmps_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER view [WD].[svT001_TerminatedEmps_Sel] AS


select T001.* 
FROM AUR.T000_WAMI T000
INNER JOIN AUR.T001_BASIC_DETAILS T001
ON T000.T000F005_WAMI_KEY = T001.T001F010_WAMI_KEY
WHERE T001.T001F015_EMPLOYEE_STATUS = 'TERMINATED' 
GO
