USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svActive_AURIONOrgUnits_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER view [WD].[svActive_AURIONOrgUnits_Sel] as 

SELECT T106F005_ORGANISATION_UNIT_NO, T106F065_ORGANISATION_DESC, T106F040_SUPERIOR_ORG_UNIT_NO, T106F070_ORG_UNIT_LEVEL_01, T106F075_ORG_UNIT_LEVEL_02, T106F080_ORG_UNIT_LEVEL_03, T106F085_ORG_UNIT_LEVEL_04, T106F090_ORG_UNIT_LEVEL_05, T106F095_ORG_UNIT_LEVEL_06, T106F100_ORG_UNIT_LEVEL_07, T106F105_ORG_UNIT_LEVEL_08, T106F110_ORG_UNIT_LEVEL_09, T106F115_ORG_UNIT_LEVEL_10, T106F020_ORGANISATION_UNIT_LVL 


FROM [AUR].[T106_ORGANISATION_UNITS] where T106F010_ORG_UNIT_STATUS = 'active'
--order by T106F020_ORGANISATION_UNIT_LVL
GO
