USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svAURION_CurrentOrgStructre_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER view [WD].[svAURION_CurrentOrgStructre_Sel] as

select CONCAT(sub1.T106F005_ORGANISATION_UNIT_NO, sub1.T101F005_POSITION_NO) as LegacyOrg,
 * from (
Select 
T106F005_ORGANISATION_UNIT_NO,
T106F065_ORGANISATION_DESC,
T106F020_ORGANISATION_UNIT_LVL,
--T106F160_EXTERNAL_REFERENCE,
--T106F140_REFERENCE,
T106F040_SUPERIOR_ORG_UNIT_NO,
T106F070_ORG_UNIT_LEVEL_01,
T106F075_ORG_UNIT_LEVEL_02,
T106F080_ORG_UNIT_LEVEL_03,
T106F085_ORG_UNIT_LEVEL_04,
T106F090_ORG_UNIT_LEVEL_05,
T106F095_ORG_UNIT_LEVEL_06,
T106F100_ORG_UNIT_LEVEL_07,
T106F105_ORG_UNIT_LEVEL_08,
T106F110_ORG_UNIT_LEVEL_09,
T106F115_ORG_UNIT_LEVEL_10,
T101F005_POSITION_NO ,
T101F010_POSITION_STATUS,
T101F045_POSITION_TITLE,
T101F050_FULL_TITLE,
T101F130_REPORTS_TO_POSITION,
T101F230_FUNCTION_TO_POSN ,
T101F235_ESS_AUTHORITY_LEVEL,
T847.T847F010_LEVEL_NAME,
T000.T000F015_SURNAME,
T000.T000F020_GIVEN_NAMES
from AUR.T106_ORGANISATION_UNITS
INNER JOIN AUR.T101_POSITION T101
ON T101F015_ORGANISATION_UNIT_NO = T106F005_ORGANISATION_UNIT_NO
inner join [AUR].[T847_AUTHORITY_LEVEL] T847 on T847.T847F005_LEVEL = T101.T101F235_ESS_AUTHORITY_LEVEL
left outer join [AUR].[T001_BASIC_DETAILS] T001 on T001.T001F065_ACTUAL_POSITION_NO = T101F005_POSITION_NO
left outer join [AUR].[T000_WAMI] T000 on t000.T000F005_WAMI_KEY = T001.T001F010_WAMI_KEY

where T106F010_ORG_UNIT_STATUS = 'ACTIVE'
AND T101F010_POSITION_STATUS = 'ACTIVE'
 ) sub1 
where --and 
T101F235_ESS_AUTHORITY_LEVEL <> '1'
-- and T101F130_REPORTS_TO_POSITION = '3043811'
-- or T101F005_POSITION_NO = '3043811'
--and T106F005_ORGANISATION_UNIT_NO = '802'
-- order by 2 asc, T101F235_ESS_AUTHORITY_LEVEL desc
  
GO
