USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svT019_PASSPORTSActive_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[svT019_PASSPORTSActive_Sel]
AS
SELECT        T019F005_WAMI_KEY, T019F010_TRANS_NO, U_VERSION, T019F015_CO, T019F020_COUNTRY_OF_ISSUE, T019F025_PASSPORT_NUMBER, T019F030_WHERE_ISSUED, T019F035_DATE_GRANTED, 
                         T019F040_DATE_OF_EXPIRY, T019F045_ZI, T019F050_CODE, T019F055_DATE1, T019F060_DATE2, T019F065_BOOLEAN1, T019F070_BOOLEAN2, T019F075_AMOUNT1, T019F080_AMOUNT2, T019F085_PERSON, 
                         T019F090_COMMENTS
FROM            AUR.T019_PASSPORTS
WHERE        (T019F040_DATE_OF_EXPIRY >= GETDATE())
GO
