USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svHRDC006_MinProbationDate_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[svHRDC006_MinProbationDate_Sel] as
 SELECT        min(AUR.T028_PROBATION_HISTORY.T028F015_PROBATION_DATE) as PROBATION_DATE, AUR.T028_PROBATION_HISTORY.T028F005_EMPLOYEE_NO
FROM            AUR.T028_PROBATION_HISTORY INNER JOIN
                         WD.EmpScope ON AUR.T028_PROBATION_HISTORY.T028F005_EMPLOYEE_NO = WD.EmpScope.EmployeeID
						 cross join wd.param p
						 where AUR.T028_PROBATION_HISTORY.T028F015_PROBATION_DATE>=p.golivedate
						 group by AUR.T028_PROBATION_HISTORY.T028F005_EMPLOYEE_NO
GO
