USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[svActive_AURIONOrgUnitStruct_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER view [WD].[svActive_AURIONOrgUnitStruct_Sel] as 

SELECT a.T106F040_SUPERIOR_ORG_UNIT_NO as PARENT_UNITID, b.T106F065_ORGANISATION_DESC as PARENT_UNITNAME, a.T106F005_ORGANISATION_UNIT_NO as CHILD_UNITID, a.T106F065_ORGANISATION_DESC as CHILD_UNITNAME
--, a.T106F070_ORG_UNIT_LEVEL_01
--, a.T106F075_ORG_UNIT_LEVEL_02, a.T106F080_ORG_UNIT_LEVEL_03, a.T106F085_ORG_UNIT_LEVEL_04, a.T106F090_ORG_UNIT_LEVEL_05, a.T106F095_ORG_UNIT_LEVEL_06
--, a.T106F100_ORG_UNIT_LEVEL_07, a.T106F105_ORG_UNIT_LEVEL_08
--, a.T106F110_ORG_UNIT_LEVEL_09, a.T106F115_ORG_UNIT_LEVEL_10
, a.T106F020_ORGANISATION_UNIT_LVL as CHILD_LEVEL, b.T106F020_ORGANISATION_UNIT_LVL as PARENT_LEVEL


FROM [AUR].[T106_ORGANISATION_UNITS] a
inner join [AUR].[T106_ORGANISATION_UNITS] b
on a.T106F040_SUPERIOR_ORG_UNIT_NO = b.T106F005_ORGANISATION_UNIT_NO

where a.T106F010_ORG_UNIT_STATUS = 'active'

--order by a.T106F040_SUPERIOR_ORG_UNIT_NO
GO
