USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[tvHRDC035_FormerWorkers_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[tvHRDC035_FormerWorkers_Sel] AS
SELECT  a.T000F005_WAMI_KEY, b.T001F005_EMPLOYEE_NO, b.T001F015_EMPLOYEE_STATUS, b.T001F265_DATE_TERMINATED, b.T001F220_EMPLOYMENT_TYPE, b.T001F230_ATTENDANCE_TYPE, b.T001F120_ACTUAL_JOB_CODE, 
             AUR.T104_EMPLOYMENT_HISTORY.T104F085_EMPLOYMENT_TYPE, AUR.T104_EMPLOYMENT_HISTORY.T104F095_ATTENDANCE_TYPE, AUR.T104_EMPLOYMENT_HISTORY.T104F025_DATE_EFFECTIVE, AUR.T104_EMPLOYMENT_HISTORY.T104F030_DATE_TO, 
             AUR.T038_TERMINATION_DETAILS.T038F005_EMPLOYEE_NO, AUR.T038_TERMINATION_DETAILS.T038F010_DATE_TERMINATED, AUR.T038_TERMINATION_DETAILS.T038F020_TERMINATION_REASON, AUR.T038_TERMINATION_DETAILS.T038F165_EMPLOYMENT_TYPE, 
             AUR.T038_TERMINATION_DETAILS.T038F175_ATTENDANCE_TYPE
FROM   AUR.T000_WAMI AS a INNER JOIN
             AUR.T001_BASIC_DETAILS AS b ON a.T000F005_WAMI_KEY = b.T001F010_WAMI_KEY LEFT OUTER JOIN
             AUR.T038_TERMINATION_DETAILS ON a.T000F005_WAMI_KEY = AUR.T038_TERMINATION_DETAILS.T038F000_WAMI_KEY LEFT OUTER JOIN
             AUR.T104_EMPLOYMENT_HISTORY ON b.T001F005_EMPLOYEE_NO = AUR.T104_EMPLOYMENT_HISTORY.T104F005_EMPLOYEE_NO
WHERE (b.T001F015_EMPLOYEE_STATUS = 'TERMINATED') AND (NOT EXISTS
                 (SELECT 1 AS Expr1
                 FROM    AUR.T001_BASIC_DETAILS AS c
                 WHERE (a.T000F005_WAMI_KEY = c.T001F010_WAMI_KEY) AND (c.T001F015_EMPLOYEE_STATUS in ('ACTIVE','INACTIVE'))))
GO
