USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[txHRDC013_EmployeeRelatedPerson_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[txHRDC013_EmployeeRelatedPerson_Sel]  AS
SELECT        
isnull(EmployeeID, '') as EmployeeID,
isnull(DependantBeneficiaryECID, '') as DependantBeneficiaryECID ,
isnull(RelatedPersonRelationshipName, '') as RelatedPersonRelationshipName, 
isnull(CountryISOCode, '') as CountryISOCode , 
isnull(LegalFirstName, '') as LegalFirstName, 
isnull(LegalMiddleName, '') as LegalMiddleName, 
isnull(LegalLastName, '') as LegalLastName, 
isnull(LegalSecondaryName, '') as LegalSecondaryName, 
isnull(PreferredFirstName, '') as PreferredFirstName, 
isnull(PreferredLastName, '') as PreferredLastName, 
isnull(LocalScript, '') as LocalScript, 
isnull(LocalScriptFirstName, '') as LocalScriptFirstName, 
isnull(LocalScriptMiddleName, '') as LocalScriptMiddleName , 
isnull(LocalScriptLastName, '') as LocalScriptLastName , 
isnull(LocalScriptSecondaryName, '') as LocalScriptSecondaryName, 
isnull(PrefixType, '') as PrefixType, 
isnull(Prefix, '') as Prefix, 
isnull(SuffixType, '') as SuffixType, 
isnull(Suffix, '') as Suffix, 
isnull(HomePhoneCountryISOCode, '') as HomePhoneCountryISOCode, 
isnull(HomePhoneAreaCode, '') as HomePhoneAreaCode, 
isnull(HomePhoneNumber, '') as HomePhoneNumber, 
isnull(HomePhoneExtension, '') as HomePhoneExtension, 
isnull(HomePhoneDeviceTypeDescription, '') as HomePhoneDeviceTypeDescription, 
isnull(HomePhonePrimary, '') as HomePhonePrimary, 
isnull(WorkPhoneCountryISOCode, '') as WorkPhoneCountryISOCode, 
isnull(WorkPhoneAreaCode, '') as WorkPhoneAreaCode, 
isnull(WorkPhoneNumber, '') as WorkPhoneNumber, 
isnull(WorkPhoneExtension, '') as WorkPhoneExtension, 
isnull(WorkPhoneDeviceTypeDescription, '') as WorkPhoneDeviceTypeDescription, 
isnull(WorkPhonePrimary, '') as WorkPhonePrimary, 
isnull(MobilePhoneCountryISOCode, '') as MobilePhoneCountryISOCode, 
isnull(MobilePhoneAreaCode, '') as MobilePhoneAreaCode, 
isnull(MobilePhoneNumber, '') as MobilePhoneNumber, 
isnull(MobilePhoneExtension, '') as MobilePhoneExtension, 
isnull(MobilePhoneDeviceTypeDescription, '') as MobilePhoneDeviceTypeDescription, 
isnull(MobilePhoneUsageType, '') as MobilePhoneUsageType, 
isnull(MobilePhonePrimary, '') as MobilePhonePrimary, 
isnull(HomeAddressCountryISOCode, '') as HomeAddressCountryISOCode, 
isnull(zHomeAddressLine1, '') as HomeAddressLine1 , 
isnull(HomeAddressLine2, '') as HomeAddressLine2, 
isnull(HomeAddressLine3, '') as HomeAddressLine3, 
isnull(HomeAddressLine4, '') as HomeAddressLine4, 
isnull(HomeAddressLine5, '') as HomeAddressLine5, 
isnull(HomeAddressLine6, '') as HomeAddressLine6, 
isnull(HomeAddressLine7, '') as HomeAddressLine7, 
isnull(HomeAddressLine8, '') as HomeAddressLine8, 
isnull(HomeAddressLine9, '') as HomeAddressLine9, 
isnull(HomeMunicipality, '') as HomeMunicipality, 
isnull(HomeSubmunicipality1, '') as HomeSubmunicipality1, 
isnull(HomeSubmunicipality2, '') as HomeSubmunicipality2, 
isnull(zRegion, '') as HomeRegion, 
isnull(HomeSubregion1, '') as HomeSubregion1, 
isnull(Subregion2, '') as Subregion2, 
isnull(HomePostalCode, '') as HomePostalCode, 
isnull(HomePrimary, '') as HomePrimary, 
isnull(DateOfBirth, '') as DateOfBirth, 
isnull(GenderDescription, '') as GenderDescription, 
isnull(SSN, '') as SSN, 
isnull(EmergencyContact, '') as EmergencyContact, 
isnull(LanguageDescription, '') as LanguageDescription, 
isnull(EmergencyContactPriority, '') as EmergencyContactPriority, 
isnull(Beneficiary, '') as Beneficiary, 
isnull(Irrevocable, '') as Irrevocable, 
isnull(BeneficiaryCourtOrderBenefitCoverageType, '') as BeneficiaryCourtOrderBenefitCoverageType, 
isnull(BeneficiaryStartDate, '') as BeneficiaryStartDate, 
isnull(BeneficiaryEndDate, '') as BeneficiaryEndDate, 
isnull(Dependent, '') as Dependent, 
isnull(DependantEducationInstitution, '') as DependantEducationInstitution, 
isnull(FullTimeStudent, '') as FullTimeStudent, 
isnull(StudentStatusStartDate, '') as StudentStatusStartDate, 
isnull(StudentStatusEndDate, '') as StudentStatusEndDate , 
isnull(Disabled, '') as Disabled, 
isnull(DependentForPayrollPurposes, '') as DependentForPayrollPurposes, 
isnull(CitizenshipStatus, '') as CitizenshipStatus, 
isnull(Nationality, '') as Nationality, 
isnull(CountryOfBirth, '') as CountryOfBirth, 
isnull(RegionOfBirth, '') as RegionOfBirth, 
isnull(DependentCourtOrderBenefitCoverageType, '') as DependentCourtOrderBenefitCoverageType, 
isnull(DependentStartDate, '') as DependentStartDate, 
isnull(DependentEndDate, '') as DependentEndDate 
FROM            WD.HRDC013_EmployeeRelatedPerson
where zExclude is null and zPossOverseasAddress is null
--union all
--SELECT        
--isnull(EmployeeID, '') as EmployeeID,
--isnull(DependantBeneficiaryECID, '') as DependantBeneficiaryECID ,
--isnull(RelatedPersonRelationshipName, '') as RelatedPersonRelationshipName, 
--isnull(CountryISOCode, '') as CountryISOCode , 
--isnull(LegalFirstName, '') as LegalFirstName, 
--isnull(LegalMiddleName, '') as LegalMiddleName, 
--isnull(LegalLastName, '') as LegalLastName, 
--isnull(LegalSecondaryName, '') as LegalSecondaryName, 
--isnull(PreferredFirstName, '') as PreferredFirstName, 
--isnull(PreferredLastName, '') as PreferredLastName, 
--isnull(LocalScript, '') as LocalScript, 
--isnull(LocalScriptFirstName, '') as LocalScriptFirstName, 
--isnull(LocalScriptMiddleName, '') as LocalScriptMiddleName , 
--isnull(LocalScriptLastName, '') as LocalScriptLastName , 
--isnull(LocalScriptSecondaryName, '') as LocalScriptSecondaryName, 
--isnull(PrefixType, '') as PrefixType, 
--isnull(Prefix, '') as Prefix, 
--isnull(SuffixType, '') as SuffixType, 
--isnull(Suffix, '') as Suffix, 
--isnull(HomePhoneCountryISOCode, '') as HomePhoneCountryISOCode, 
--isnull(HomePhoneAreaCode, '') as HomePhoneAreaCode, 
--isnull(HomePhoneNumber, '') as HomePhoneNumber, 
--isnull(HomePhoneExtension, '') as HomePhoneExtension, 
--isnull(HomePhoneDeviceTypeDescription, '') as HomePhoneDeviceTypeDescription, 
--isnull(HomePhonePrimary, '') as HomePhonePrimary, 
--isnull(WorkPhoneCountryISOCode, '') as WorkPhoneCountryISOCode, 
--isnull(WorkPhoneAreaCode, '') as WorkPhoneAreaCode, 
--isnull(WorkPhoneNumber, '') as WorkPhoneNumber, 
--isnull(WorkPhoneExtension, '') as WorkPhoneExtension, 
--isnull(WorkPhoneDeviceTypeDescription, '') as WorkPhoneDeviceTypeDescription, 
--isnull(WorkPhonePrimary, '') as WorkPhonePrimary, 
--isnull(MobilePhoneCountryISOCode, '') as MobilePhoneCountryISOCode, 
--isnull(MobilePhoneAreaCode, '') as MobilePhoneAreaCode, 
--isnull(MobilePhoneNumber, '') as MobilePhoneNumber, 
--isnull(MobilePhoneExtension, '') as MobilePhoneExtension, 
--isnull(MobilePhoneDeviceTypeDescription, '') as MobilePhoneDeviceTypeDescription, 
--isnull(MobilePhoneUsageType, '') as MobilePhoneUsageType, 
--isnull(MobilePhonePrimary, '') as MobilePhonePrimary, 
--'AUS' as HomeAddressCountryISOCode, 
--'OVERSEAS ADDRESS TO BE UPDATED' as HomeAddressLine1 , 
--isnull(HomeAddressLine2, '') as HomeAddressLine2, 
--isnull(HomeAddressLine3, '') as HomeAddressLine3, 
--isnull(HomeAddressLine4, '') as HomeAddressLine4, 
--isnull(HomeAddressLine5, '') as HomeAddressLine5, 
--isnull(HomeAddressLine6, '') as HomeAddressLine6, 
--isnull(HomeAddressLine7, '') as HomeAddressLine7, 
--isnull(HomeAddressLine8, '') as HomeAddressLine8, 
--isnull(HomeAddressLine9, '') as HomeAddressLine9, 
--'UNIVERSITY OF QUEENSLAND'  as HomeMunicipality, 
--isnull(HomeSubmunicipality1, '') as HomeSubmunicipality1, 
--isnull(HomeSubmunicipality2, '') as HomeSubmunicipality2, 
--'AUS-QLD' as HomeRegion, 
--isnull(HomeSubregion1, '') as HomeSubregion1, 
--isnull(Subregion2, '') as Subregion2, 
--'4072'  as HomePostalCode, 
--isnull(HomePrimary, '') as HomePrimary, 
--isnull(DateOfBirth, '') as DateOfBirth, 
--isnull(GenderDescription, '') as GenderDescription, 
--isnull(SSN, '') as SSN, 
--isnull(EmergencyContact, '') as EmergencyContact, 
--isnull(LanguageDescription, '') as LanguageDescription, 
--isnull(EmergencyContactPriority, '') as EmergencyContactPriority, 
--isnull(Beneficiary, '') as Beneficiary, 
--isnull(Irrevocable, '') as Irrevocable, 
--isnull(BeneficiaryCourtOrderBenefitCoverageType, '') as BeneficiaryCourtOrderBenefitCoverageType, 
--isnull(BeneficiaryStartDate, '') as BeneficiaryStartDate, 
--isnull(BeneficiaryEndDate, '') as BeneficiaryEndDate, 
--isnull(Dependent, '') as Dependent, 
--isnull(DependantEducationInstitution, '') as DependantEducationInstitution, 
--isnull(FullTimeStudent, '') as FullTimeStudent, 
--isnull(StudentStatusStartDate, '') as StudentStatusStartDate, 
--isnull(StudentStatusEndDate, '') as StudentStatusEndDate , 
--isnull(Disabled, '') as Disabled, 
--isnull(DependentForPayrollPurposes, '') as DependentForPayrollPurposes, 
--isnull(CitizenshipStatus, '') as CitizenshipStatus, 
--isnull(Nationality, '') as Nationality, 
--isnull(CountryOfBirth, '') as CountryOfBirth, 
--isnull(RegionOfBirth, '') as RegionOfBirth, 
--isnull(DependentCourtOrderBenefitCoverageType, '') as DependentCourtOrderBenefitCoverageType, 
--isnull(DependentStartDate, '') as DependentStartDate, 
--isnull(DependentEndDate, '') as DependentEndDate 
--FROM            WD.HRDC013_EmployeeRelatedPerson
--where zExclude is null and zPossOverseasAddress = 'X'

GO
