USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[txHRDC001_ApplicantPersonalAndContact_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER view [WD].[txHRDC001_ApplicantPersonalAndContact_Sel] as

SELECT        EmployeeID, 
isnull(ApplicantEnteredDate, '') AS ApplicantEnteredDate, 
isnull(ApplicantSourceName,'') as ApplicantSourceName , 
isnull(HireSourceCategoryName,'') as HireSourceCategoryName , 
isnull(Fullname,'') as FullName , 
isnull(CountryISOCode,'') as  CountryISOCode, 
isnull(LegalFirstName,'') as  LegalFirstName, 
isnull(LegalMiddleName,'') as LegalMiddleName , 
isnull(LegalLastName,'') as  LegalLastName, 
isnull(LegalSecondaryName,'') as LegalSecondaryName , 
isnull(PreferredFirstName,'') as PreferredFirstName , 
isnull(PreferredLastName,'') as  PreferredLastName, 
isnull(PreferredSecondaryName,'') as  PreferredSecondaryName, 
isnull(FormerNameCountryISO,'') as FormerNameCountryISO , 
isnull(FormerFirstName,'') as FormerFirstName , 
isnull(FormerMiddleName,'') as FormerMiddleName , 
isnull(FormerLastName,'') as  FormerLastName,
isnull(FormerSecondaryName,'') as FormerSecondaryName , 
isnull(PrefixType,'') as PrefixType , 
isnull(Prefix,'') as Prefix , 
isnull(SuffixType,'') as SuffixType , 
isnull(Suffix,'') as Suffix , 
isnull(HomeEmailAddress,'') as  HomeEmailAddress, 
isnull(HomeEmailPrimary,'') as  HomeEmailPrimary , 
isnull(WorkEmailAddress,'') as  WorkEmailAddress, 
isnull(WorkEmailPrimary,'') as WorkEmailPrimary , 
isnull(HomePhoneCountryISOCode,'') as HomePhoneCountryISOCode , 
isnull(HomePhoneInternationalPhoneCode,'') as HomePhoneInternationalPhoneCode , 
isnull(HomePhoneAreaCode,'') as  HomePhoneAreaCode, 
isnull(HomePhoneNumber,'') as  HomePhoneNumber, 
isnull(HomePhoneExtension,'') as  HomePhoneExtension, 
isnull(HomePhoneDeviceTypeDescription,'') as HomePhoneDeviceTypeDescription ,  
isnull(HomePhonePrimary,'') as  HomePhonePrimary,  
isnull(WorkPhoneCountryISOCode,'') as WorkPhoneCountryISOCode ,  
isnull(WorkPhoneInternationalPhoneCode,'') as WorkPhoneInternationalPhoneCode ,  
isnull(WorkPhoneAreaCode,'') as  WorkPhoneAreaCode,  
isnull(WorkPhoneNumber,'') as  WorkPhoneNumber,  
isnull(WorkPhoneExtension,'') as  WorkPhoneExtension,  
isnull(WorkPhoneDeviceTypeDescription,'') as  WorkPhoneDeviceTypeDescription,  
isnull(WorkPhonePrimary,'') as  WorkPhonePrimary,  
isnull(AdditionalPhoneCountryISOCode,'') as AdditionalPhoneCountryISOCode ,  
isnull(AdditionalPhoneInternationalPhoneCode,'') as  AdditionalPhoneInternationalPhoneCode,  
isnull(AdditionalPhoneAreaCode,'') as  AdditionalPhoneAreaCode,  
isnull(AdditionalPhoneNumber,'') as AdditionalPhoneNumber ,  
isnull(AdditionalPhoneExtension,'') as AdditionalPhoneExtension ,  
isnull(AdditionalPhoneDeviceTypeDescription,'') as  AdditionalPhoneDeviceTypeDescription,  
isnull(AdditionalPhoneUsageType,'') as AdditionalPhoneUsageType ,  
isnull(AdditionalPhonePrimary,'') as AdditionalPhonePrimary ,
isnull(Additional2PhoneCountryISOCode,'') as  Additional2PhoneCountryISOCode,
isnull(Additional2PhoneInternationalPhoneCode,'') as Additional2PhoneInternationalPhoneCode ,
isnull(Additional2PhoneAreaCode,'') as  Additional2PhoneAreaCode, 
isnull(Additional2PhoneNumber,'') as Additional2PhoneNumber , 
isnull(Additional2PhoneExtension,'') as  Additional2PhoneExtension, 
isnull(Additional2PhoneDeviceTypeDescription,'') as  Additional2PhoneDeviceTypeDescription, 
isnull(Additional2PhoneUsageType,'') as Additional2PhoneUsageType , 
isnull(Additional2PhonePrimary,'') as Additional2PhonePrimary , 
isnull(Additional3PhoneCountryISOCode,'') as Additional3PhoneCountryISOCode , 
isnull(Additional3PhoneInternationalPhoneCode,'') as Additional3PhoneInternationalPhoneCode , 
isnull(Additional3PhoneAreaCode,'') as Additional3PhoneAreaCode , 
isnull(Additional3PhoneNumber,'') as Additional3PhoneNumber , 
isnull(Additional3PhoneExtension,'') as Additional3PhoneExtension , 
isnull(Additional3PhoneDeviceTypeDescription,'') as  Additional3PhoneDeviceTypeDescription, 
isnull(Additional3PhoneUsageType,'') as Additional3PhoneUsageType , 
isnull(Additional3PhonePrimary,'') as Additional3PhonePrimary , 
isnull(Additional4PhoneCountryISOCode,'') as Additional4PhoneCountryISOCode , 
isnull(Additional4PhoneInternationalPhoneCode,'') as Additional4PhoneInternationalPhoneCode , 
isnull(Additional4PhoneAreaCode,'') as Additional4PhoneAreaCode , 
isnull(Additional4PhoneNumber,'') as Additional4PhoneNumber , 
isnull(Additional4PhoneExtension,'') as  Additional4PhoneExtension, 
isnull(Additional4PhoneDeviceTypeDescription,'') as Additional4PhoneDeviceTypeDescription , 
isnull(Additional4PhoneUsageType,'') as  Additional4PhoneUsageType, 
isnull(Additional4PhonePrimary,'') as Additional4PhonePrimary , 
isnull(WebAddress,'') as WebAddress , 
isnull(WebAddressUsageType,'') as WebAddressUsageType ,
isnull(WebAddressPrimary,'') as  WebAddressPrimary, 
isnull(InstantMessengerAddress,'') as InstantMessengerAddress , 
isnull(InstantMessengerProvider,'') as InstantMessengerProvider , 
isnull(IMUsageType,'') as IMUsageType , 
isnull(IMPrimary,'') as IMPrimary 
FROM            WD.HRDC001_ApplicantPersonalAndContact where zExclude is null


GO
