USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[txHRDC035_FormerWorkers_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[txHRDC035_FormerWorkers_Sel]
AS

select
	ISNULL(FormerWorkerID,'') as FormerWorkerID,
	ISNULL(WorkerType,'') as WorkerType,
	ISNULL(LastTerminationDate,'') as LastTerminationDate,
	ISNULL(MostRecentHireDate,'') as MostRecentHireDate,
	ISNULL(OriginalHireDate,'') as OriginalHireDate,
	ISNULL(LastTerminationReason,'') as LastTerminationReason,
	ISNULL(Manager,'') as Manager,
	ISNULL(CostCenter,'') as CostCenter,
	ISNULL(JobTitle,'') as JobTitle,
	ISNULL(JobCode,'') as JobCode,
	ISNULL(JobProfileText,'') as JobProfileText,
	ISNULL(JobLevel,'') as JobLevel,
	ISNULL(TimeType,'') as TimeType,
	ISNULL([Location],'') as [Location],
	ISNULL(BasePay,'') as BasePay,
	ISNULL(PayCurrency,'') as PayCurrency,
	ISNULL(PayFrequency,'') as PayFrequency,
	ISNULL(ScheduledWeeklyHours,'') as ScheduledWeeklyHours,
	ISNULL(EligibleforRehire,'') as EligibleforRehire,
	ISNULL(PerformanceRating,'') as PerformanceRating,
	ISNULL(Rehired,'') as Rehired,
	ISNULL(BirthDate,'') as BirthDate,
	ISNULL(CountryISOCode,'') as CountryISOCode,
	ISNULL(LegalFirstName,'') as LegalFirstName,
	ISNULL(LegalMiddleName,'') as LegalMiddleName,
	ISNULL(LegalLastName,'') as LegalLastName,
	ISNULL(LegalSecondaryLastName,'') as LegalSecondaryLastName,
	ISNULL(PreferredFirstName,'') as PreferredFirstName,
	ISNULL(PreferredMiddleName,'') as PreferredMiddleName,
	ISNULL(PreferredLastName,'') as PreferredLastName,
	ISNULL(PreferredSecondaryName,'') as PreferredSecondaryName,
	ISNULL(LocalScript,'') as LocalScript,
	ISNULL(LocalScriptFirstName,'') as LocalScriptFirstName,
	ISNULL(LocalScriptMiddleName,'') as LocalScriptMiddleName,
	ISNULL(LocalScriptLastName,'') as LocalScriptLastName,
	ISNULL(LocalScriptSecondaryName,'') as LocalScriptSecondaryName,
	ISNULL(PrefixType,'') as PrefixType,
	ISNULL(Prefix,'') as Prefix,
	ISNULL(SuffixType,'') as SuffixType,
	ISNULL(Suffix,'') as Suffix,
	ISNULL(HomeEmailAddress,'') as HomeEmailAddress,
	ISNULL(HomeEmailPrimary,'') as HomeEmailPrimary,
	ISNULL(WorkEmailAddress,'') as WorkEmailAddress,
	ISNULL(WorkEmailPrimary,'') as WorkEmailPrimary,
	ISNULL(HomePhoneCountryISOCode,'') as HomePhoneCountryISOCode,
	ISNULL(HomePhoneInternationalPhoneCode,'') as HomePhoneInternationalPhoneCode,
	ISNULL(HomePhoneAreaCode,'') as HomePhoneAreaCode,
	ISNULL(HomePhoneNumber,'') as HomePhoneNumber,
	ISNULL(HomePhoneExtension,'') as HomePhoneExtension,
	ISNULL(HomePhoneDeviceTypeDescription,'') as HomePhoneDeviceTypeDescription,
	ISNULL(HomePhonePrimary,'') as HomePhonePrimary,
	ISNULL(WorkPhoneCountryISOCode,'') as WorkPhoneCountryISOCode,
	ISNULL(WorkPhoneInternationalPhoneCode,'') as WorkPhoneInternationalPhoneCode,
	ISNULL(WorkPhoneAreaCode,'') as WorkPhoneAreaCode,
	ISNULL(WorkPhoneNumber,'') as WorkPhoneNumber,
	ISNULL(WorkPhoneExtension,'') as WorkPhoneExtension,
	ISNULL(WorkPhoneDeviceTypeDescription,'') as WorkPhoneDeviceTypeDescription,
	ISNULL(WorkPhonePrimary,'') as WorkPhonePrimary,
	ISNULL(AdditionalPhoneCountryISOCode,'') as AdditionalPhoneCountryISOCode,
	ISNULL(AdditionalPhoneInternationalPhoneCode,'') as AdditionalPhoneInternationalPhoneCode,
	ISNULL(AdditionalPhoneAreaCode,'') as AdditionalPhoneAreaCode,
	ISNULL(AdditionalPhoneNumber,'') as AdditionalPhoneNumber,
	ISNULL(AdditionalPhoneExtension,'') as AdditionalPhoneExtension,
	ISNULL(AdditionalPhoneDeviceTypeDescription,'') as AdditionalPhoneDeviceTypeDescription,
	ISNULL(AdditionalPhoneUsageType,'') as AdditionalPhoneUsageType,
	ISNULL(AdditionalPhonePrimary,'') as AdditionalPhonePrimary,
	ISNULL(Additional2PhoneCountryISOCode,'') as Additional2PhoneCountryISOCode,
	ISNULL(Additional2PhoneInternationalPhoneCode,'') as Additional2PhoneInternationalPhoneCode,
	ISNULL(Additional2PhoneAreaCode,'') as Additional2PhoneAreaCode,
	ISNULL(Additional2PhoneNumber,'') as Additional2PhoneNumber,
	ISNULL(Additional2PhoneExtension,'') as Additional2PhoneExtension,
	ISNULL(Additional2PhoneDeviceTypeDescription,'') as Additional2PhoneDeviceTypeDescription,
	ISNULL(Additional2PhoneUsageType,'') as Additional2PhoneUsageType,
	ISNULL(Additional2PhonePrimary,'') as Additional2PhonePrimary,
	ISNULL(WebAddress,'') as WebAddress,
	ISNULL(WebUsageType,'') as WebUsageType,
	ISNULL(WebPrimary,'') as WebPrimary,
	ISNULL(InstantMessengerAddress,'') as InstantMessengerAddress,
	ISNULL(InstantMessengerProvider,'') as InstantMessengerProvider,
	ISNULL(InstantMessengerUsageType,'') as InstantMessengerUsageType,
	ISNULL(InstantMessengerPrimary,'') as InstantMessengerPrimary,
	ISNULL(EthnicityName,'') as EthnicityName,
	ISNULL(NationalIDCountryISOCode,'') as NationalIDCountryISOCode,
	ISNULL(NationalID,'') as NationalID,
	ISNULL(NationalIDTypeCode,'') as NationalIDTypeCode,
	ISNULL(NationalIDIssuedDate,'') as NationalIDIssuedDate,
	ISNULL(NationalIDExpirationDate,'') as NationalIDExpirationDate,
	ISNULL(NationalIDVerificationDate,'') as NationalIDVerificationDate,
	ISNULL(NationalIDSeries,'') as NationalIDSeries,
	ISNULL(NationalIDIssuingAgency,'') as NationalIDIssuingAgency,
	ISNULL(HomeAddressLine1CountryISOCode,'') as HomeAddressLine1CountryISOCode,
	ISNULL(HomeAddressLine1,'') as HomeAddressLine1,
	ISNULL(HomeAddressLine2,'') as HomeAddressLine2,
	ISNULL(HomeAddressLine3,'') as HomeAddressLine3,
	ISNULL(HomeAddressLine4,'') as HomeAddressLine4,
	ISNULL(HomeAddressLine5,'') as HomeAddressLine5,
	ISNULL(HomeAddressLine6,'') as HomeAddressLine6,
	ISNULL(HomeAddressLine7,'') as HomeAddressLine7,
	ISNULL(HomeAddressLine8,'') as HomeAddressLine8,
	ISNULL(HomeAddressLine9,'') as HomeAddressLine9,
	ISNULL(HomeMunicipality,'') as HomeMunicipality,
	ISNULL(HomeSubmunicipality1,'') as HomeSubmunicipality1,
	ISNULL(HomeSubmunicipality2,'') as HomeSubmunicipality2,
	ISNULL(HomeRegion,'') as HomeRegion,
	ISNULL(HomeSubregion1,'') as HomeSubregion1,
	ISNULL(HomeSubregion2,'') as HomeSubregion2,
	ISNULL(HomePostalCode,'') as HomePostalCode,
	ISNULL(HomeAddressPrimary,'') as HomeAddressPrimary
	from [WD].[HRDC035_FormerWorkers] where zExclude is null
GO
