USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC018_EmployeeTimeOffEvents_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER view [WD].[trHRDC018_EmployeeTimeOffEvents_InsSel]
AS
SELECT WD.tvHRDC018_TimeOffEvents_Sel.EmployeeID, WD.tvHRDC018_TimeOffEvents_Sel.TimeOffDate, WD.tvHRDC018_TimeOffEvents_Sel.TimeOffUnits, WD.tvHRDC018_TimeOffEvents_Sel.TimeOffTypeNameOrCode, WD.tvHRDC018_TimeOffEvents_Sel.zDateTo, 
             WD.tvHRDC018_TimeOffEvents_Sel.zTransNo, WD.tvHRDC018_TimeOffEvents_Sel.WAMIKey, 'AURION' AS zSource, GETDATE() AS zLoadDate, WD.tvHRDC018_TimeOffEvents_Sel.zTimeCode
FROM   WD.tvHRDC018_TimeOffEvents_Sel INNER JOIN
             MAP.LeaveTypes ON WD.tvHRDC018_TimeOffEvents_Sel.zTimeCode = MAP.LeaveTypes.SourceValue
WHERE (MAP.LeaveTypes.TargetDGW = N'HRDC018')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tvHRDC018_TimeOffEvents_Sel (WD)"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 450
               Right = 372
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LeaveTypes (MAP)"
            Begin Extent = 
               Top = 22
               Left = 527
               Bottom = 429
               Right = 927
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC018_EmployeeTimeOffEvents_InsSel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC018_EmployeeTimeOffEvents_InsSel'
GO
