USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC035_FormerWorkers_LastTerminationReason_UpdSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC035_FormerWorkers_LastTerminationReason_UpdSel] AS
SELECT WD.HRDC035_FormerWorkers.LastTerminationReason, AUR.T038_TERMINATION_DETAILS.T038F020_TERMINATION_REASON AS LastTerminationReasonNew
FROM   WD.HRDC035_FormerWorkers INNER JOIN
             AUR.T038_TERMINATION_DETAILS ON WD.HRDC035_FormerWorkers.FormerWorkerID = 
AUR.T038_TERMINATION_DETAILS.T038F000_WAMI_KEY AND WD.HRDC035_FormerWorkers.LastTerminationDate = AUR.T038_TERMINATION_DETAILS.T038F010_DATE_TERMINATED
and AUR.T038_TERMINATION_DETAILS.T038F020_TERMINATION_REASON not in ('CES','NONSER','SEC','TRAN')
GO
