USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC032_WorkerAdditionalData_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC032_WorkerAdditionalData_InsSel] AS
SELECT WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey AS EmployeeID, AUR.T900_CODES.T900F020_LONG_DESCRIPTION AS EthnicityName, 
AUR.T007_EEO_DETAILS.T007F105_CODE_E0 AS zEthnicityName, WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey AS zWAMIKey, NULL AS zExclude, 'AURION' AS zSource, GETDATE() 
             AS zLoadDate
FROM   AUR.T007_EEO_DETAILS INNER JOIN
             WD.svEmpScope_UniqueWAMIKey_Sel ON AUR.T007_EEO_DETAILS.T007F005_WAMI_KEY = WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey INNER JOIN
             AUR.T900_CODES ON AUR.T007_EEO_DETAILS.T007F100_E0 = AUR.T900_CODES.T900F005_CODE_TYPE AND AUR.T007_EEO_DETAILS.T007F105_CODE_E0 = AUR.T900_CODES.T900F010_CODE
WHERE (AUR.T007_EEO_DETAILS.T007F105_CODE_E0 IS NOT NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "T007_EEO_DETAILS (AUR)"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 442
               Right = 465
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmpScope (WD)"
            Begin Extent = 
               Top = 10
               Left = 656
               Bottom = 399
               Right = 960
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T900_CODES (AUR)"
            Begin Extent = 
               Top = 9
               Left = 1017
               Bottom = 412
               Right = 1397
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1000
         Width = 2950
         Width = 2210
         Width = 1000
         Width = 1000
         Width = 2190
         Width = 3600
         Width = 1000
         Width = 3120
         Width = 4420
         Width = 1590
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2980
         Alias = 3250
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC032_WorkerAdditionalData_InsSel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC032_WorkerAdditionalData_InsSel'
GO
