USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC019_EmployeeLeaveOfAbsence_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC019_EmployeeLeaveOfAbsence_InsSel] AS
SELECT        
WamiKey as EmployeeID,
AUR.T522_LEAVE_OCCURRENCE.T522F015_LEAVE_TYPE as LeaveTypeName, 
AUR.T522_LEAVE_OCCURRENCE.T522F040_DATE_FROM as FirstDayOfLeave, 
AUR.T522_LEAVE_OCCURRENCE.T522F045_DATE_TO as EstimatedLastDayOfLeave, 
AUR.T522_LEAVE_OCCURRENCE.T522F185_RESUME_DUTIES as FirstDayOfWork,
AUR.T522_LEAVE_OCCURRENCE.T522F045_DATE_TO as ActualLastDayOfLeave, 
AUR.T522_LEAVE_OCCURRENCE.T522F030_LEAVE_OCC_TYPE as zLeaveOccType,
AUR.T522_LEAVE_OCCURRENCE.T522F005_EMPLOYEE_NO as zEmployeeID,
AUR.T522_LEAVE_OCCURRENCE.T522F025_TIME_CODE as zTimeCode,
WamiKey as zWamiKey,
'AURION' as zSource,
 getdate() as zLoadDate

FROM            WD.EmpScope INNER JOIN
                         AUR.T522_LEAVE_OCCURRENCE ON WD.EmpScope.EmployeeID = AUR.T522_LEAVE_OCCURRENCE.T522F005_EMPLOYEE_NO
						 CROSS JOIN WD.Param
						  inner join MAP.LeaveTypes ON AUR.T522_LEAVE_OCCURRENCE.T522F025_TIME_CODE = MAP.LeaveTypes.SourceValue
WHERE        (WD.EmpScope.zExclude IS NULL) 
and T522F030_LEAVE_OCC_TYPE = 'TAKING' and MAP.LeaveTypes.TargetDGW = 'HRDC019'
and 
	(
		(T522F040_DATE_FROM >= GoLiveDate)		OR
		(T522F040_DATE_FROM <= GoLiveDate AND T522F045_DATE_TO >= GoLiveDate)
	)


GO
