USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC017_CarryOverBalances_ConstructDataReformat_UpdSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC017_CarryOverBalances_ConstructDataReformat_UpdSel]
AS
SELECT WD.HRDC017_CarryOverBalances.EmployeeID, dbo.PadNum(WD.HRDC017_CarryOverBalances.EmployeeID, 7) AS EmployeeIDNew, WD.HRDC017_CarryOverBalances.OverrideBalanceDate, CONVERT(VARCHAR(10), GETDATE(), 126) AS OverrideBalanceDateNew, 
             WD.HRDC017_CarryOverBalances.zTimeOffPlanName, MAP.LeaveTypes.TargetValue AS zTimeOffPlanNameNew, WD.HRDC017_CarryOverBalances.zSource, 'CONSTRUCTED' AS zSourceNew, WD.HRDC017_CarryOverBalances.zLoadDate, GETDATE() AS zLoadDateNew, 
             WD.HRDC017_CarryOverBalances.zTotalBalanceHoursDec, REPLACE(WD.HRDC017_CarryOverBalances.zTotalBalanceHoursDec, ',', '') AS zTotalBalanceHoursDecNew, WD.HRDC017_CarryOverBalances.zBalForExport, 
             REPLACE(WD.HRDC017_CarryOverBalances.zTotalBalanceHoursDec, ',', '') AS zBalForExportNew, 
			 WD.HRDC017_CarryOverBalances.zWAMIKey, dbo.PadNum(WD.HRDC017_CarryOverBalances.EmployeeID, 7) AS zWAMIKeyNew
FROM   WD.HRDC017_CarryOverBalances INNER JOIN
             MAP.LeaveTypes ON WD.HRDC017_CarryOverBalances.TimeOffPlanName = MAP.LeaveTypes.SourceValue
WHERE (WD.HRDC017_CarryOverBalances.zSource IS NULL) AND (MAP.LeaveTypes.TargetDGW = N'HRDC017')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[25] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HRDC017_CarryOverBalances (WD)"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 496
               Right = 404
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "LeaveTypes (MAP)"
            Begin Extent = 
               Top = 13
               Left = 586
               Bottom = 472
               Right = 1146
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 2520
         Width = 2810
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 6510
         Alias = 3560
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC017_CarryOverBalances_ConstructDataReformat_UpdSel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'WD', @level1type=N'VIEW',@level1name=N'trHRDC017_CarryOverBalances_ConstructDataReformat_UpdSel'
GO
