USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC006_EmployeePositionManagement_WorkShifts_RostersWeeks_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC006_EmployeePositionManagement_WorkShifts_RostersWeeks_Sel] as
SELECT T001F065_ACTUAL_POSITION_NO as PosNum, 1 as WEEK_NUMBERS FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 1
union
SELECT T001F065_ACTUAL_POSITION_NO, 2 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 2
union
SELECT T001F065_ACTUAL_POSITION_NO, 3 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 3
union
SELECT T001F065_ACTUAL_POSITION_NO, 4 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 4
union
SELECT T001F065_ACTUAL_POSITION_NO, 5 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 5
union
SELECT T001F065_ACTUAL_POSITION_NO, 6 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 6
union
SELECT T001F065_ACTUAL_POSITION_NO, 7 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 7
union
SELECT T001F065_ACTUAL_POSITION_NO, 8 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 8
union
SELECT T001F065_ACTUAL_POSITION_NO, 9 FROM AUR.WORK_SHIFTS
group by T001F065_ACTUAL_POSITION_NO having count(*) = 9

GO
