USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC005_ApplicantOtherID_StudentID_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER view [WD].[trHRDC005_ApplicantOtherID_StudentID_InsSel] as
SELECT        WAMIKey AS EmployeeID, 
AUR.T000_WAMI.T000F165_EXTERNAL_EMP_NO AS CustomID2, 'USERNAME' AS CustomID2TypeName,
WAMIKey AS zWAMIKey, zSource, GETDATE() AS zLoadDate
FROM   AUR.T000_WAMI INNER JOIN
             WD.svEmpScope_UniqueWAMIKey_Sel ON AUR.T000_WAMI.T000F005_WAMI_KEY = WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey
WHERE (AUR.T000_WAMI.T000F165_EXTERNAL_EMP_NO IS NOT NULL)
GO
