USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[txHRDC008_EmployeeCompensationData_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[txHRDC008_EmployeeCompensationData_Sel]
as

SELECT  
 isnull([EmployeeID],'')[EmployeeID]
,isnull([PositionID],'') as [PositionID]
,isnull([EffectiveDate],'') as [EffectiveDate]
,isnull([EventCategory],'') as [EventCategory]
,isnull([EventSubcategory],'') as [EventSubcategory]
,isnull([CompensationPackageName],'') as [CompensationPackageName]
,isnull([CompensationGradeName],'') as [CompensationGradeName]
,isnull([CompensationProfileName],'') as [CompensationProfileName]
,isnull([CompensationStepName],'') as [CompensationStepName]
,isnull([SalaryPayPlanName],'') as [SalaryPayPlanName]
,isnull([SalaryCompensationElementName],'') as [SalaryCompensationElementName]
,isnull([SalaryCompensationElementAmount],'') as [SalaryCompensationElementAmount]
,isnull([SalaryCurrencyCode],'') as [SalaryCurrencyCode]
,isnull([SalaryFrequencyName],'') as [SalaryFrequencyName]
,isnull([SalaryExpectedEndDate],'') as [SalaryExpectedEndDate]
,isnull([HourlyPlanName],'') as [HourlyPlanName]
,isnull([HourlyCompensationElementName],'') as [HourlyCompensationElementName]
,isnull([HourlyCompensationElementAmount],'') as [HourlyCompensationElementAmount]
,isnull([HourlyCurrencyCode],'') as [HourlyCurrencyCode]
,isnull([HourlyFrequencyName],'') as [HourlyFrequencyName]
,isnull([HourlyExpectedEndDate],'') as [HourlyExpectedEndDate]
,isnull([UnitSalaryPlanName],'') as [UnitSalaryPlanName]
,isnull([UnitCompensationElementName],'') as [UnitCompensationElementName]
,isnull([UnitOfMeasureName],'') as [UnitOfMeasureName]
,isnull([PerUnitAmount],'') as [PerUnitAmount]
,isnull([UnitCurrencyCode],'') as [UnitCurrencyCode]
,isnull([NumberOfUnits],'') as [NumberOfUnits]
,isnull([UnitFrequencyName],'') as [UnitFrequencyName]
,isnull([AllowancePlanName],'') as [AllowancePlanName]
,isnull([AllowancePlanCompensationElementName],'') as [AllowancePlanCompensationElementName]
,isnull([AllowancePlanPercent],'') as [AllowancePlanPercent]
,isnull([AllowancePlanAmount],'') as [AllowancePlanAmount]
,isnull([AllowancePlanCurrencyCode],'') as [AllowancePlanCurrencyCode]
,isnull([AllowancePlanFrequencyName],'') as [AllowancePlanFrequencyName]
,isnull([AllowancePlanExpectedEndDate],'') as [AllowancePlanExpectedEndDate]
,isnull([AllowancePlanReimbursementStartDate],'') as [AllowancePlanReimbursementStartDate]
,isnull([UnitAllowancePlanName],'') as [UnitAllowancePlanName]
,isnull([UnitAllowancePlanCompensationElementName],'') as [UnitAllowancePlanCompensationElementName]
,isnull([UnitAllowanceNumberOfUnits],'') as [UnitAllowanceNumberOfUnits]
,isnull([UnitAllowancePlanUnitOfMeasureName],'') as [UnitAllowancePlanUnitOfMeasureName]
,isnull([UnitAllowancePlanFrequencyName],'') as [UnitAllowancePlanFrequencyName]
,isnull([UnitAllowancePlanPerUnitAmount],'') as [UnitAllowancePlanPerUnitAmount]
,isnull([UnitAllowancePlanCurrencyCode],'') as [UnitAllowancePlanCurrencyCode]
,isnull([UnitAllowancePlanReimbursementStartDate],'') as [UnitAllowancePlanReimbursementStartDate]
,isnull([BonusPlanName],'') as [BonusPlanName]
,isnull([BonusPlanCompensationElementName],'') as [BonusPlanCompensationElementName]
,isnull([BonusPlanAmount],'') as [BonusPlanAmount]
,isnull([BonusPlanPercentage],'') as [BonusPlanPercentage]
,isnull([BonusPlanGuaranteedMinimum],'') as [BonusPlanGuaranteedMinimum]
,isnull([BonusPlanCurrencyCode],'') as [BonusPlanCurrencyCode]
,isnull([BonusPlanFrequencyName],'') as [BonusPlanFrequencyName]
,isnull([BonusPlanPercentageAssigned],'') as [BonusPlanPercentageAssigned]
,isnull([MeritPlanName],'') as [MeritPlanName]
,isnull([MeritPlanIndividualTarget],'') as [MeritPlanIndividualTarget]
,isnull([MeritPlanGuaranteedMinimum],'') as [MeritPlanGuaranteedMinimum]
,isnull([CommissionPlanName],'') as [CommissionPlanName]
,isnull([CommissionPlanCompensationElementName],'') as [CommissionPlanCompensationElementName]
,isnull([CommissionPlanTargetAmount],'') as [CommissionPlanTargetAmount]
,isnull([CommissionPlanCurrencyCode],'') as [CommissionPlanCurrencyCode]
,isnull([CommissionPlanFrequencyName],'') as [CommissionPlanFrequencyName]
,isnull([CommissionPlanDrawAmount],'') as [CommissionPlanDrawAmount]
,isnull([CommissionPlanFrequencyNameForDrawAmount],'') as [CommissionPlanFrequencyNameForDrawAmount]
,isnull([CommissionPlanDrawDuration],'') as [CommissionPlanDrawDuration]
,isnull([CommissionPlanRecoverable],'') as [CommissionPlanRecoverable]
,isnull([StockPlanName],'') as [StockPlanName]
,isnull([StockIndividualTargetShare],'') as [StockIndividualTargetShare]
,isnull([StockIndividualTargetPercent],'') as [StockIndividualTargetPercent]
,isnull([StockIndividualTargetAmount],'') as [StockIndividualTargetAmount]
,isnull([StockCurrency],'') as [StockCurrency]
,isnull([StockFrequency],'') as [StockFrequency]
,isnull([PeriodSalaryPlanName],'') as [PeriodSalaryPlanName]
,isnull([PeriodSalaryCompensationElementName],'') as [PeriodSalaryCompensationElementName]
,isnull([PeriodSalaryCompensationPeriod],'') as [PeriodSalaryCompensationPeriod]
,isnull([PeriodSalaryCurrency],'') as [PeriodSalaryCurrency]
,isnull([PeriodSalaryCompensationMultiplier],'') as [PeriodSalaryCompensationMultiplier]
,isnull([PeriodSalaryFrequency],'') as [PeriodSalaryFrequency]
 
 FROM [DQS_STAGING_DATA].[WD].[HRDC008_EmployeeCompensationData]
 where zExclude is null
GO
