USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trEmpScope_EmpOnSecondment_UpdSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER view [WD].[trEmpScope_EmpOnSecondment_UpdSel] as
SELECT WD.EmpScope.zEmpOnSecondment, 'X' AS zEmpOnSecondmentNew
--FROM   WD.EmpScope INNER JOIN
--             AUR.T104_EMPLOYMENT_HISTORY ON WD.EmpScope.EmployeeID = AUR.T104_EMPLOYMENT_HISTORY.T104F005_EMPLOYEE_NO INNER JOIN
--             WD.Param ON AUR.T104_EMPLOYMENT_HISTORY.T104F035_CONNECT_DATE_TO >= WD.Param.GoLiveDate
--WHERE (AUR.T104_EMPLOYMENT_HISTORY.T104F065_CURRENT_FLAG = 'CURRENT') AND (AUR.T104_EMPLOYMENT_HISTORY.T104F015_OCCUPANCY_TYPE = 'NONSUBS')
FROM   WD.EmpScope INNER JOIN
  AUR.t001_BASIC_DETAILS on WD.Empscope.EmployeeID = AUR.T001_BASIC_DETAILS.T001F005_EMPLOYEE_NO
  where  T001F015_EMPLOYEE_STATUS = 'ACTIVE'  AND T001F145_SUBS_POSITION_NO <> T001F065_ACTUAL_POSITION_NO



GO
