USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trEmpScope_Placement_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[trEmpScope_Placement_InsSel]  AS
SELECT        WD.EmpScope.WAMIKey, WD.EmpScope.EmployeeID, AUR.T104_EMPLOYMENT_HISTORY.T104F040_POSITION_NO AS PositionID,
 AUR.T104_EMPLOYMENT_HISTORY.T104F010_SORT_KEY as SortKey,
AUR.T104_EMPLOYMENT_HISTORY.T104F015_OCCUPANCY_TYPE AS OccupancyType, 
                         AUR.T104_EMPLOYMENT_HISTORY.T104F005_EMPLOYEE_NO + ',' + AUR.T104_EMPLOYMENT_HISTORY.T104F010_SORT_KEY + ',' + AUR.T104_EMPLOYMENT_HISTORY.T104F015_OCCUPANCY_TYPE AS PlacementID, 
                         AUR.T104_EMPLOYMENT_HISTORY.T104F025_DATE_EFFECTIVE AS DateEffective, AUR.T104_EMPLOYMENT_HISTORY.T104F030_DATE_TO AS DateTo, 
						 AUR.T104_EMPLOYMENT_HISTORY.T104F050_CLASSIFICATION as [Classification],
						 AUR.T104_EMPLOYMENT_HISTORY.T104F055_INCREMENT_POINT as IncrementPoint,
						 AUR.T104_EMPLOYMENT_HISTORY.T104F115_TITLE as Title,
						AUR.T104_EMPLOYMENT_HISTORY.T104F065_CURRENT_FLAG as CurrentFlag,
						 WD.EmpScope.zExclude, WD.EmpScope.zExcludeReason, 
                         WD.EmpScope.zSource, WD.EmpScope.zLoadDate
FROM            WD.EmpScope INNER JOIN
                         AUR.T104_EMPLOYMENT_HISTORY ON WD.EmpScope.EmployeeID = 
						 AUR.T104_EMPLOYMENT_HISTORY.T104F005_EMPLOYEE_NO
						 and 
						 WD.EmpScope.PositionID = 
						 AUR.T104_EMPLOYMENT_HISTORY.T104F040_POSITION_NO

GO
