USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[txHRDC014_EEorCWSkillsAndExperience_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER view [WD].[txHRDC014_EEorCWSkillsAndExperience_Sel]
as
SELECT 
 isnull([EmployeeContingentWorkerID],'') as [EmployeeContingentWorkerID]
,isnull([Potential],'') as [Potential]
,isnull([AchievableLevel],'') as [AchievableLevel]
,isnull([Retention],'') as [Retention]
,isnull([LossImpact],'') as [LossImpact]
,isnull([Notes],'') as [Notes]
,isnull([JobTitle],'') as [JobTitle]
,isnull([Company],'') as [Company]
,isnull([JobStartDate],'') as [JobStartDate]
,isnull([JobEndDate],'') as [JobEndDate]
,isnull([ResponsibilitiesAndAchievements],'') as [ResponsibilitiesAndAchievements]
,isnull([JobLocation],'') as [JobLocation]
,isnull([JobReference],'') as [JobReference]
,isnull([ContactInformation],'') as [ContactInformation]
,isnull([AccomplishmentDescription],'') as [AccomplishmentDescription]
,isnull([AccomplishmentStartDate],'') as [AccomplishmentStartDate]
,isnull([AccomplishmentEndDate],'') as [AccomplishmentEndDate]
,isnull([PositionReference],'') as [PositionReference]
,isnull([ProjectName],'') as [ProjectName]
,isnull(replace([Description],'"','""'),'') as [Description]
,isnull([InternalProjectStartDate],'') as [InternalProjectStartDate]
,isnull([InternalProjectEndDate],'') as [InternalProjectEndDate]
,isnull([ProjectLeader],'') as [ProjectLeader]
,isnull([Experience],'') as [Experience]
,isnull([ExperienceRating],'') as [ExperienceRating]
,isnull([ExperienceComment],'') as [ExperienceComment]
,isnull([Country],'') as [Country]
,isnull(replace([SchoolReference],'"','""'),'') as [SchoolReference]
,isnull(replace([SchoolName],'"','""'),'') as [SchoolName]
,isnull([SchoolType],'') as [SchoolType]
,isnull([SchoolLocation],'') as [SchoolLocation]
,isnull([Degree],'') as [Degree]
,isnull([DegreeCompleted],'') as [DegreeCompleted]
,isnull([DateDegreeReceived],'') as [DateDegreeReceived]
,isnull([FieldOfStudy],'') as [FieldOfStudy]
,isnull([GradeAverage],'') as [GradeAverage]
,isnull([FirstYearAttended],'') as [FirstYearAttended]
,isnull([LastYearAttended],'') as [LastYearAttended]
,isnull([IsHighestLevelOfEducation],'') as [IsHighestLevelOfEducation]
,isnull([FirstDayAttended],'') as [FirstDayAttended]
,isnull([LastDayAttended],'') as [LastDayAttended]
,isnull([Language],'') as [Language]
,isnull([NativeLanguage],'') as [NativeLanguage]
,isnull([LanguageProficiency],'') as [LanguageProficiency]
,isnull([LanguageAbilityType],'') as [LanguageAbilityType]
,isnull([LanguageAssessment_Date],'') as [LanguageAssessment_Date]
,isnull([LanguageNote],'') as [LanguageNote]
,isnull([LanguageAssessorReference],'') as [LanguageAssessorReference]
,isnull([CompetencyName],'') as [CompetencyName]
,isnull([CompetencyLevel],'') as [CompetencyLevel]
,isnull([CompetencyNotes],'') as [CompetencyNotes]
,isnull([CompetencyAssessmentDate],'') as [CompetencyAssessmentDate]
,isnull([CompetencyAssessorReference],'') as [CompetencyAssessorReference]
,isnull([CertificationCountry],'') as [CertificationCountry]
,isnull([CertificationName],'') as [CertificationName]
,isnull([CertificationNumber],'') as [CertificationNumber]
,isnull([CertificationIssuer],'') as [CertificationIssuer]
,isnull([CertificationIssueDate],'') as [CertificationIssueDate]
,isnull([CertificationExpirationDate],'') as [CertificationExpirationDate]
,isnull([CertificationExaminationScore],'') as [CertificationExaminationScore]
,isnull([CertificationSpeciality],'') as [CertificationSpeciality]
,isnull([CertificationSubSpeciality],'') as [CertificationSubSpeciality]
,isnull([CertificationExaminationDate],'') as [CertificationExaminationDate]
,isnull([TrainingName],'') as [TrainingName]
,isnull([TrainingDescription],'') as [TrainingDescription]
,isnull([TrainingTypeName],'') as [TrainingTypeName]
,isnull([TrainingCompletionDate],'') as [TrainingCompletionDate]
,isnull([AwardName],'') as [AwardName]
,isnull([AwardingBody],'') as [AwardingBody]
,isnull([AwardDescription],'') as [AwardDescription]
,isnull([AwardDateReceived],'') as [AwardDateReceived]
,isnull([AwardProfessionalAffiliation],'') as [AwardProfessionalAffiliation]
,isnull([AwardProfessionalAffiliationType],'') as [AwardProfessionalAffiliationType]
,isnull([AwardProfessionalAffiliationRelationshipType],'') as [AwardProfessionalAffiliationRelationshipType]
,isnull([AwardMemberSince],'') as [AwardMemberSince]
,isnull([GoalName],'') as [GoalName]
,isnull([GoalDescription],'') as [GoalDescription]
,isnull([GoalDueDate],'') as [GoalDueDate]
,isnull([GoalStatus],'') as [GoalStatus]
,isnull([GoalCompletionDate],'') as [GoalCompletionDate]
,isnull([GoalNote],'') as [GoalNote]
,isnull([DevelopmentItem],'') as [DevelopmentItem]
,isnull([DevelopmentStatus],'') as [DevelopmentStatus]
,isnull([DevelopmentUpdatedByWorkerID],'') as [DevelopmentUpdatedByWorkerID]
,isnull([DevelopmentRelationshipReference],'') as [DevelopmentRelationshipReference]
,isnull([PositionForSuccession],'') as [PositionForSuccession]
,isnull([SuccessionReadinessCode],'') as [SuccessionReadinessCode]
,isnull([ConsiderExternalCandidate],'') as [ConsiderExternalCandidate]
,isnull([TopCandidate],'') as [TopCandidate]
,isnull([Skills],'') as [Skills]
FROM [DQS_STAGING_DATA].[WD].[HRDC014_EEorCWSkillsAndExperience]
where zExclude is null
GO
