USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[tvHRDC035_FormerWorkers_LastTerminationDateT038_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[tvHRDC035_FormerWorkers_LastTerminationDateT038_Sel] AS
SELECT  T038F000_WAMI_KEY, MAX(CONVERT(VARCHAR(10), T038F010_DATE_TERMINATED, 126)) AS DateTerminated
FROM   AUR.T038_TERMINATION_DETAILS
GROUP BY T038F000_WAMI_KEY

GO
