USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[tvHRDC005_ApplicantOtherID_Researchers_Sel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[tvHRDC005_ApplicantOtherID_Researchers_Sel] as

SELECT AP_RES.RESEARCHERS.AURION_ID, AP_RES.RESEARCHERS.ORCID, AP_RES.RESEARCHERS.TH_REUTERS_RESEARCHER_ID, AP_RES.RESEARCHERS.GOOGLE_SCHOLAR_ID, AP_RES.RESEARCHERS.SCOPUS_ID
FROM   AP_RES.RESEARCHERS INNER JOIN
             WD.svEmpScope_UniqueWAMIKey_Sel ON AP_RES.RESEARCHERS.AURION_ID = WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey



GO
