USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC013_EmployeeRelatedPerson_EmergencyContacts_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER view [WD].[trHRDC013_EmployeeRelatedPerson_EmergencyContacts_InsSel]  AS
SELECT        WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey as EmployeeID
,'EC' + cast(T006F005_WAMI_KEY as varchar(8)) + '-' + cast(row_number() over (partition by T006F005_WAMI_KEY order by T006F010_PRIORITY) as varchar(3)) as DependantBeneficiaryID
,AUR.T006_EMERGENCY_CONTACTS.T006F020_RELATIONSHIP_CODE as RelatedPersonRelationshipName
,'AUS' as CountryISOCode
,'TITLE' as PrefixType
, case 
	when 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MRS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MRS.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR %' or 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROFESSOR %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR.%' 
		then SUBSTRING(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME, 1, CHARINDEX(' ', AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME) - 1)
		 else '' end as Prefix
, case 
	when 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MRS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MRS.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR %' or 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROFESSOR %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR.%' 
		then SUBSTRING(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME, 1, CHARINDEX(' ', AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME) - 1)
		 else '' end as zPrefix

, case 
	when charindex(' ',AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME) = 0 then 	ltrim(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME)
	when 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MR %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MR.%' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MS %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MISS%' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MRS %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'MRS.%' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'DR %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'PROFESSOR %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'PROF %' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'PROF.%' and
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME not like 'DR.%' 
		
		then SUBSTRING(ltrim(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME), 1, CHARINDEX(' ', ltrim(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME)) )

		when AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR %' or 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MR.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MRS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'MISS %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR %' or 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROFESSOR %' or 
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF %' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'PROF.%' or
		AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME like 'DR.%' then
		ltrim(substring(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME,
			charindex(' ',AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME), 
			CHARINDEX(' ',ltrim(SUBSTRING(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME,
			charindex(' ',AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME),
			LEN(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME)-charindex(' ',AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME)))) ))
		
		 else '' end as FirstName

,ltrim(RIGHT(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME, CHARINDEX(' ', REVERSE(AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME)) )) AS LastName
,AUR.T006_EMERGENCY_CONTACTS.T006F040_ADDRESS as HomeAddressLine1
,ltrim(rtrim(dbo.StripNonASCII(replace(AUR.T006_EMERGENCY_CONTACTS.T006F040_ADDRESS,'"','""')))) as zHomeAddressLine1
,dbo.ReformatPhone(AUR.T006_EMERGENCY_CONTACTS.T006F060_HOME_PHONE_NO) as HomePhoneNumber
,dbo.ReformatPhone(AUR.T006_EMERGENCY_CONTACTS.T006F065_WORK_PHONE_NO) as WorkPhoneNumber 
,AUR.T006_EMERGENCY_CONTACTS.T006F075_SUBURB as HomeMunicipality
,AUR.T006_EMERGENCY_CONTACTS.T006F080_STATE as HomeRegion
,AUR.T006_EMERGENCY_CONTACTS.T006F085_POSTCODE as HomePostalCode
,AUR.T006_EMERGENCY_CONTACTS.T006F095_COUNTRY_CODE as HomeAddressCountryISOCode
,dbo.ReformatPhone(AUR.T006_EMERGENCY_CONTACTS.T006F100_MOBILE_PHONE) as MobilePhoneNumber
,AUR.T006_EMERGENCY_CONTACTS.T006F010_PRIORITY as EmergencyContactPriority
,'EMER' as zType
,AUR.T006_EMERGENCY_CONTACTS.T006F025_NAME as zName
,WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey AS zWAMIKey
,'AURION' as zSource
,getdate() as zLoadDate
FROM            WD.svEmpScope_UniqueWAMIKey_Sel INNER JOIN
                         AUR.T006_EMERGENCY_CONTACTS ON WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey = AUR.T006_EMERGENCY_CONTACTS.T006F005_WAMI_KEY
						where AUR.T006_EMERGENCY_CONTACTS.T006F020_RELATIONSHIP_CODE is not null


GO
