USE [DQS_STAGING_DATA]
GO
/****** Object:  View [WD].[trHRDC002_ApplicantAddressDetails_Mailing_InsSel]    Script Date: 9/07/2020 10:28:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER view [WD].[trHRDC002_ApplicantAddressDetails_Mailing_InsSel] as

SELECT WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey AS EmployeeID, 
'HOME' AS AddressType, 
AUR.T000_WAMI.T000F295_POSTAL_COUNTRY AS CountryISOCode, 
AUR.T000_WAMI.T000F295_POSTAL_COUNTRY AS zCountryISOCode, 
AUR.T000_WAMI.T000F060_POSTAL_ADDRESS AS AddressLine1, 
AUR.T000_WAMI.T000F275_POSTAL_SUBURB AS Municipality, 
AUR.T000_WAMI.T000F275_POSTAL_SUBURB AS zMunicipality, 
AUR.T000_WAMI.T000F280_POSTAL_STATE AS Region, 
AUR.T000_WAMI.T000F280_POSTAL_STATE AS zRegion, 
AUR.T000_WAMI.T000F285_POSTAL_POSTCODE AS PostalCode, 
AUR.T000_WAMI.T000F285_POSTAL_POSTCODE AS zPostalCode, 
'Y' AS Mailing, 
WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey, 
WD.svEmpScope_UniqueWAMIKey_Sel.zSource, 
GETDATE() AS zLoadDate
FROM   WD.svEmpScope_UniqueWAMIKey_Sel INNER JOIN
             AUR.T000_WAMI ON WD.svEmpScope_UniqueWAMIKey_Sel.WAMIKey = AUR.T000_WAMI.T000F005_WAMI_KEY
WHERE (AUR.T000_WAMI.T000F300_POSTAL_IS_HOME = 'F')
GO
